<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contactPme">
            <h2><span>Contact Pme</span> {{contactPme.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Prenom</span></dt>
                <dd>
                    <span>{{contactPme.prenom}}</span>
                </dd>
                <dt><span>Nom</span></dt>
                <dd>
                    <span>{{contactPme.nom}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{contactPme.email}}</span>
                </dd>
                <dt><span>Telephone</span></dt>
                <dd>
                    <span>{{contactPme.telephone}}</span>
                </dd>
                <dt><span>Fonction</span></dt>
                <dd>
                    <span>{{contactPme.fonction}}</span>
                </dd>
                <dt><span>Adresse</span></dt>
                <dd>
                    <span>{{contactPme.adresse}}</span>
                </dd>
                <dt><span>Pme</span></dt>
                <dd>
                    <div *ngIf="contactPme.pme">
                        <a [routerLink]="['/pme', contactPme.pme?.id, 'view']">{{contactPme.pme?.pmeName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contact-pme', contactPme.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
